<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %>

  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Airport</th>
        <th>Airline</th>
        <th>Departing</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
      <tr>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.departs %></td>
        <td>
          <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </td>
        <td><a href="/flights/<%= flight._id %>">Details</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/flights/new">Make a new Flight</a>

<%- include('../partials/footer') %>