<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Airport</th>
          <th>Airline</th>
          <th>Departing</th>
        </tr>
      </thead>
      <tbody>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.departs %></td>
      </tbody>
    </table>
        <section id="ticket-list">
          <% if (flight.tickets.length) { %>
          <% flight.tickets.forEach(ticket => { %>
          <div id="ticket">
            <div><%= ticket.seat %></div>
            <div><%= ticket.price %></div>
          </div>
          <% }) %>
          <% }else{ %>
          <div>Not Tickets</div>
          <% } %>
        </section>
        <h3> Add Ticket </h3>
        <form action="/flights/<%= flight._id %>/tickets" method="POST">
          <label>Seat:
            <input type="text" name="seat" required pattern="[A-F][1-9]\d?" placeholder="Example: B2">
          </label><br>
          <label>Price:
            <input type="text" name="price" placeholder:="Enter Ticket Price">
          </label><br>
          <button type="submit">Add Ticket</button>
  </main>
  
<%- include('../partials/footer') %>